* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.nav-burger {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 12px;
}

.nav-burger__line {
  display: block;
  background: rgba(0, 0, 0, 0.54);
  width: 15px;
  height: 2px;
}

.nav-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
}

.nav-dots {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 12px;
}

.nav-dots__item {
  display: block;
  background: rgba(0, 0, 0, 0.54);
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.toolbar-wrapper {
  margin-top: 60px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 550px;
  width: 30%;
}

.toolbar-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  width: 230px;
  height: 250px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.toolbar-tools__item {
  margin-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.541327);
}

.toolbar-tools__line {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}

.toolbar-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 230px;
  height: 250px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.toolbar-colors__item {
  margin-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.541327);
}

.toolbar-colors__line {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}

.tools-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.toolbar-buttons {
  margin-top: 60px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 230px;
  height: 250px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.mainscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#c1 {
  margin-top: 60px;
  width: 512px;
  height: 512px;
  border: 1px solid black;
}
/*# sourceMappingURL=interface.css.map */